<app-main-nav></app-main-nav>

<div class="container content-container">
  <h2 class="header">About Me</h2>
  <div class="row">
    <div class="col-sm-6">
      <h3 class="">Background</h3>
      <img class="" src="assets/img/JLyman_02.jpg">
      <div class="">
        <p>I first earned an Associates degree in Computer Graphics and Multimedia, attaining skills in Photoshop, Illustrator, Quark and basic HTML, among others. In my first position I designed yellow page ads, learning Adobe InDesign on-the-job. Over time I moved on to other positions, among which were Graphic Designer, Web Designer and Prepress Technician.</p>

        <p>I returned to school in 2009 and earned a Bachelors degree in Web Design and Interactive Media, taking classes such as: Fundamentals of Audio, Fundamentals of Video, Color Theory, Design and Typography, Scriptwriting for the Web, User Centered Design, Scripting, among others. It helped me hone the fundamentals and pick up new skills.</p>

        <p>Since that time I have held positions at a number of companies working predominantly on web-based projects as a Web Designer, Website Manager, Front End Developer and Web Developer. I have worked on a variety of sytems, both proprietary as well as open source, such as Wordpress. Learning new technologies, techniques and processes is part of the territory as the internet landscape is ever changing.</p>
      </div>
    </div>
    <div class="col-sm-6">
      <h3 class="">Pastimes</h3>
      <div class="">
        <p>In my free time I like to read and write (I'm actually in the middle of writing a novel). I'm a huge movie buff too! Don't ask me what my favorite is, there are too many I love. I hold a black belt in American Kenpo and have taught martial arts since the mid-90s. I really enjoy exploring new roads on my motorcycle, and being relatively new to the Portland, Oregon area, there are quite a few to explore. I'm active in my local church group and believe my faith helps me to look for the best in myself and others.</p>
      </div>
      <div class="">
        <img class="" src="assets/img/motorcycle.jpg">
      </div>
    </div>
    
  </div>
</div>
