.main-navigation {
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    li {
      flex: 0 1 49%;

      a {
        padding-top: 10rem;
        padding-bottom: 10rem;
        display: block;
        width: 100%;
        height: auto;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        color: white;
        background: black;
        transition: all .2s ease;

        &:hover {
          background: gray;
        }
      }
    }
    &.list-unstyled {
      list-style-type: none;
    }
  }
}