<app-main-nav></app-main-nav>

<div class="container content-container">
  <div class="tab-container">
    <div class="nav nav-tabs">
      <a class="nav-item nav-link active" href="#core">core</a>
      <a class="nav-item nav-link" href="#prof">proficiencies</a>
      <a class="nav-item nav-link" href="#other">other</a>
    </div>
    <div class="tab-content" id="skills-content">
      <div class="tab-pane" id="core">
        <h3 class="header">Core Skills</h3>
        <p>Tools and technologies with which I have the most experience and feel the most comfortable.</p>
        <div class="skill-list mb-3">
          <div class="badge"><i class="fab fa-html5 fa-3x"></i><br>HTML</div>
          <div class="badge"><i class="fab fa-css3-alt fa-3x"></i><br>CSS</div>
          <div class="badge"><i class="fab fa-js-square fa-3x"></i><br>Javascript</div>
          <!-- <li class="badge">jQuery</li> -->
          <div class="badge"><i class="fab fa-less fa-3x"></i><br>LESS</div>
          <div class="badge"><i class="fas fa-mobile-alt fa-3x"></i><br>RWD</div>
          <div class="badge"><i class="fab fa-bootstrap fa-3x"></i><br>Bootstrap</div>
          <div class="badge"><i class="fab fa-wordpress fa-3x"></i><br>Wordpress</div>
          <div class="badge"><i class="fab fa-adobe fa-3x"></i><br>Photoshop</div>
          <div class="badge"><i class="fab fa-adobe fa-3x"></i><br>Illustrator</div>
        </div>
      </div>
      <div class="tab-pane" id="prof">
        <h3 class="header">Proficiencies</h3>
        <p>Tools and technologies with which I have at least some experience and feel comfortable using.</p>
        <div class="skill-list">
          <div class="badge"><i class="fab fa-php fa-3x"></i><br>PHP</div>
          <div class="badge">MySQL</div>
          <div class="badge">Bower</div>
          <div class="badge"><i class="fab fa-github-square fa-3x"></i><br>Git</div>
          <div class="badge">AJAX</div>
          <div class="badge">XML/XSL</div>
          <div class="badge"><i class="fab fa-jira fa-3x"></i><br>JIRA</div>
          <div class="badge"><i class="fab fa-adobe fa-3x"></i><br>Acrobat</div>
          <div class="badge">SEO</div>
          <div class="badge">UI Design</div>
          <div class="badge">UX Design</div>
        </div>
      </div>
      <div class="tab-pane" id="other">
        <h3 class="header">Other skills</h3>
        <p>Tools and technologies with which I have a little experience and am still learning.</p>
        <div class="skill-list">
          <div class="badge"><i class="fab fa-angular fa-3x"></i><br>Angular</div>
          <div class="badge">JSON</div>
          <div class="badge"><i class="fab fa-node fa-3x"></i><br>Node</div>
          <div class="badge"><i class="fab fa-npm fa-3x"></i><br>NPM</div>
          <div class="badge"><i class="fab fa-adobe fa-3x"></i><br>AEM</div>
          <div class="badge"><i class="fab fa-joomla fa-3x"></i><br>Joomla!</div>
          <div class="badge"><i class="fab fa-adobe fa-3x"></i><br>After Effects</div>
          <div class="badge"><i class="fab fa-adobe fa-3x"></i><br>Premiere Pro</div>
          <!-- <li class="badge">Flash</li>
          <li class="badge">Actionscript</li> -->
          <!-- <div class="badge">Semantic UI</div> -->
        </div>
      </div>
    </div>
  </div>
</div>


