<app-main-nav></app-main-nav>

<div class="container content-container">
  <div class="tab-container">
    <div class="nav nav-tabs">
      <a class="nav-item nav-link active" href="#core">core</a>
      <a class="nav-item nav-link" href="#prof">proficiencies</a>
      <a class="nav-item nav-link" href="#other">other</a>
    </div>
    <div class="tab-content" id="skills-content">
      <div class="tab-pane show" id="core">
        <h3 class="header">Core Skills</h3>
        <div class="skill-list mb-3">
          <div class="text-center"><i class="fab fa-html5 fa-3x"></i><br>HTML</div>
          <div class="text-center"><i class="fab fa-css3-alt fa-3x"></i><br>CSS</div>
          <div class="text-center"><i class="fab fa-js-square fa-3x"></i><br>Javascript</div>
          <!-- <li class="badge badge-primary">jQuery</li> -->
          <div class="text-center"><i class="fab fa-less fa-3x"></i><br>LESS</div>
          <div class="text-center"><i class="fas fa-mobile-alt fa-3x"></i><br>RWD</div>
          <div class="text-center"><i class="fab fa-bootstrap fa-3x"></i><br>Bootstrap</div>
          <div class="text-center"><i class="fab fa-wordpress fa-3x"></i><br>Wordpress</div>
          <div class="text-center"><i class="fab fa-adobe fa-3x"></i><br>Photoshop</div>
          <div class="text-center"><i class="fab fa-adobe fa-3x"></i><br>Illustrator</div>
        </div>
      </div>
      <div class="tab-pane" id="prof">
        Proficiencies 
      </div>
      <div class="tab-pane" id="other">
        Other skills
      </div>
    </div>
  </div>
</div>


