@import '../../less/variables.less';

.nav {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;

  @media screen and (max-width: 500px) {
    flex-direction: column;
  }
}
.nav-tabs {
  border-bottom: 1px solid lighten(@dark, 10%);

  .nav-item {
    padding: 1rem 5rem;
    flex: 1 1 auto;
    text-align: center;
    background: @dark;
    border: 1px solid lighten(@dark, 10%);
    border-width: 1px 1px 0 1px;
    border-radius: 4px 4px 0 0;

    @media screen and (max-width: 500px) {
      border-width: 1px 1px 1px 1px;
    }

    &:first-child {
      border-width: 1px 1px 0 1px;
    }
    &:hover {
      cursor: pointer;
    }
    &.active {
      background: lighten(@dark, 10%);
      border: 1px solid @dark;
      border-width: 0 1px 0 0;
    }
  }
}

.tab-container {
  position: relative;
  // border: 1px solid red;
}

.tab-pane {
  margin-top: 3rem;
  padding: 1rem;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  // border: 1px solid green;

  @media screen and (max-width: 500px) {
    top: 6rem;
  }
  @media screen and (min-width: 500px) and (max-width: 833px) {
    top: 3rem;
  }
}

.skill-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;

  .badge {
    margin-right: 1rem;
    margin-bottom: 1.6rem;
    flex: 0 1 15%;
    font-size: 80%;
    text-align: center;
  }
}