@import '../less/variables.less';
@import '../less/mixins.less';

body {
  // background: @dark;
}
.container {
  margin: 0 auto;
  max-width: 1170px;

  @media screen and (min-width: 769px) and (max-width: 1180px) {
    max-width: 80%;
  }
  @media screen and (min-width: 501px) and (max-width: 768px) {
    max-width: 80%;
  }
  @media screen and (max-width: 500px) {
    max-width: 90%;
  }
}
.content-container {
  padding: 2rem;
  min-height: 100vh;
}